demoProject/force-app/main/default/flows/New_Customer_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Closed_Lost</name>
        <choiceText>Closed Lost</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Closed_Won</name>
        <choiceText>Closed Won</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Prospecting</name>
        <choiceText>Prospecting</choiceText>
        <dataType>String</dataType>
    </choices>
    <interviewLabel>New Customer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Customer Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Account_Create</name>
        <label>Account Create</label>
        <locationX>91</locationX>
        <locationY>155</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>89</locationX>
        <locationY>262</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>89</locationX>
        <locationY>374</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <dateValue>2017-05-08</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Company_Name}-{!Last_Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Prospecting</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <screens>
        <name>implement_business_process</name>
        <label>implement business process</label>
        <locationX>85</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Create</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Opportunity Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Opportunity_Stage</name>
            <choiceReferences>Closed_Won</choiceReferences>
            <choiceReferences>Closed_Lost</choiceReferences>
            <choiceReferences>Prospecting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>implement_business_process</startElementReference>
    <status>Active</status>
</Flow>
